<div class="flex flex-col flex-auto min-w-0 bg-light-grayish-cyan h-screen">
  <div class="flex flex-col justify-center mt-8 lg:mt-16">
    <p class="text-2xl font-medium text-very-dark-cyan text-center tracking-widest-2">SPLI</p>
    <p class="text-2xl font-medium text-very-dark-cyan text-center tracking-widest-2">TTER</p>
  </div>

  <div [formGroup]="tipFormGroup" class="flex flex-wrap justify-between bg-white-cyan text-dark-grayish-cyan font-semibold mx-auto px-8 py-10 w-full lg:w-2/3 mt-8 lg:mt-16 xs:rounded-t-3xl lg:max-w-4xl lg:space-x-8 lg:rounded-3xl">

    <div class="flex flex-col flex-auto">
      <div>
        <label class="block" for="bill">Bill</label>
        <div class="mt-1 relative rounded-sm hover:ring-strong-cyan hover:ring-2">
          <div class="flex items-center pointer-events-none absolute inset-y-0 left-0 pl-5">
            <img src="../assets/images/icon-dollar.svg" alt="dollar icon">
          </div>
          <input type="text" id="bill" formControlName="bill" required class="text-very-dark-cyan font-semibold bg-gray-100 border-none w-full text-right px-4 py-2 text-xl rounded-sm focus:ring-strong-cyan focus:ring-2 hover:cursor-pointer">
        </div>
      </div>

      <div class="flex flex-col xs:mt-9 space-y-4 w-full">
        <span>Select Tip %</span>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-2">
          <button id="tip-{{i}}" *ngFor="let tip of percentagesTips; index as i" (click)="calculateTip(tip.value, i)" [ngClass]="setSelectedTipClass(i)" class="text-xl text-center py-2 rounded-md">
            {{tip.label}}
          </button>

          <!-- <input type="text" name="customTip" id="customTip" placeholder="Custom" class="text-very-dark-cyan font-semibold bg-gray-100 border-none w- px-4 py-2 text-right text-xl rounded-md focus:ring-strong-cyan focus:ring-2 hover:cursor-pointer"> -->
        </div>
      </div>

      <div class="xs:mt-9">
        <div class="flex justify-between items-center">
          <label class="block" for="numPeople">Number of people</label>
          <span *ngIf="tipFormGroup.get('numPeople').errors && tipFormGroup.get('numPeople').hasError('zeroError')" class="text-base xs:text-sm text-red-400">Can't be zero</span>
        </div>
        <div class="mt-1 relative rounded-sm hover:ring-strong-cyan hover:ring-2">
          <div class="flex items-center pointer-events-none absolute inset-y-0 left-0 pl-5">
            <img src="../assets/images/icon-person.svg" alt="person icon">
          </div>
          <input type="text" id="numPeople"  formControlName="numPeople" required class="text-very-dark-cyan font-semibold bg-gray-100 border-none w-full px-4 py-2 text-right text-xl rounded-sm focus:ring-strong-cyan focus:ring-2 hover:cursor-pointer">
        </div>
      </div>
    </div>

    <div class="flex flex-col flex-auto lg:w-1/3 space-y-6 bg-very-dark-cyan rounded-2xl pt-8 pb-4 px-4 lg:mt-0 mt-9 lg:pt-16 lg:px-8 lg:pb-8 lg:justify-between">
      <div class="flex flex-col space-y-8 w-full">
        <div class="grid grid-cols-2">
          <div class="flex flex-col">
            <p class="text-white-cyan font-normal text-sm">Tip Amount</p>
            <p class="text-xs text-dark-grayish-cyan-2">/ person</p>
          </div>
          <p class="lg:text-3xl text-2xl text-strong-cyan font-bold justify-self-end">{{ tipAmount | currency }}</p>
        </div>
        <div class="grid grid-cols-2">
          <div class="flex flex-col">
            <p class="text-white-cyan font-normal text-sm">Total</p>
            <p class="text-xs text-dark-grayish-cyan-2">/ person</p>
          </div>
          <p class="lg:text-3xl text-2xl text-strong-cyan font-bold justify-self-end">{{ total | currency }}</p>
        </div>
      </div>

      <button (click)="reset()" class="text-xl font-semibold bg-strong-cyan hover:bg-light-grayish-cyan text-very-dark-cyan py-2 rounded-md cursor">RESET</button>

    </div>

  </div>

</div>